{% extends 'views/templates/document.html' %}

{% import 'components/Document/Head.html' as Head %}
{% import 'components/Sidebar/Sidebar.html' as Sidebar %}
{% import 'components/PageHeader/PageHeader.html' as PageHeader %}

{% import 'content/rules.html' as Rules %}

{% set ViewAttrs = {
  id: 'SimpleList',
  parent: 'Top Ten EtherOlympics Teams',
  child: 'Top Teams',
  subheading: 'These Top 10 teams (including ties) will receive payouts if the Olympics ended today. Please allow a day or so for the results to update.'
} %}

{% block PageId %}{{ ViewAttrs.id }}{% endblock %}

{% block head %}
  {{ Head.render(ViewAttrs) }}
{% endblock %}

{% block sidebar %}
  {{ Sidebar.render(ViewAttrs, DataPages) }}
{% endblock %}

{% block main %}

 <h3 class="Heading Heading--size1 Heading--colorBlack">Smart Contract  📡 🌎 🇰🇷</h3>
 <h2 class="Subheading">
The EtherOlympics smart contract is accessible and auditable worldwide on the Ethereum blockchain.
 </h2>
 <br>
 <br>
 <br>

 <h3 class="Heading Heading--size3 Heading--colorBlack">

 <p>The EtherOlympics smart contract verifies and records team submissions. The contract submissions and source code can be viewed on Etherscan <a href="https://etherscan.io/address/0x3BEBb8b23413088CD120AeBB3d1B88Fb8e394dE9">here</a>.</p>
 <br>
  <p>The contract verifies that exactly six unique countries are submitted per team, that the six countries selected are under the $12,000 budget, that the required 0.1 ether entry fee is attached to the submitting transaction, and so on. </p>
<br>
  <p>All teams may be queried from the smart contract by fetching the event logs or contract state variables using a service such as MyEtherWallet or Etherscan. To prevent overflow errors, re-entrancy attacks, oracle service errors, and other difficulties of smart contract development, calculation of team scores and payout logic is handled off-chain. </p>
 </h3>

 <br>
<br>
<br>
<br>
<h2 class="Subheading">
<span class="notranslate">
Good luck!  <br>
加油! <br>
Veel geluk! <br>
Bonne chance! <br>
행운을 빕니다 <br>
Buena suerte!
</span>
 </h2>
<br>
<br>

{% endblock %}
